*{
    margin: 0;
    padding: 0;
}
/*----- header--------- */
body{
    background-color:lightgrey;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    position: relative;
    width: 100%;
    height: 90px;
}
/* ------------Barra de navegacion-------------------- */
ul{
    text-align: right;
    list-style-type:none;
    margin: 5px;
    padding: 10px;
    overflow:hidden;
}
li {
    display: inline;
    padding: 10px;
    
}
a{
    text-decoration: none;
}
a:link {
    color:black;
}
a:visited, a:hover{
    color:purple;
}
a:active {
    color:blue;
}
.formato{
    background-color:lightgrey;
    background-repeat: no-repeat;
    background-attachment:fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px 15px;
}
.logo{
   text-align: left;
   color: purple; 
   position: fixed;
   padding-bottom: 5px;
   overflow: hidden;
   margin-left: 15px;
   /* font-family:Georgia, 'Times New Roman', Times, serif; */
}
/* ---------------------Presentacion/HOME---------------------------------- */
.portada{
    width: 100%;
    height: 90vh;
    background: url(img/fondo.jpg) top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 15px;
    z-index: auto;
}
.portada .opacada {
    background-color: rgba(0, 0, 0, 0.87);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}
.fuenteHome{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: purple;
    text-align:center;
    font-size: 30px;    
}

/*------ section------ */
/* -----Acerca de mi------ */
.flex-container{
   display: flex;
}
.flex-container>div{
    margin: 20px;
    padding: 20px;
    font-size: 15px;
}
.FotoPerfil{
    width: 650px;
    height: 310px;
    background: url(img/foto5.jpg) center no-repeat;
    background-size:contain;
}
.fuenteH3{
    font-size: 20px;
    text-align: center;
}
.fuenteH4{
    font-size: 15px;
}
.espaciadoTit{
    margin: 5px;
}
.espaciadoCont{
    margin-top: 50px;
}
.logoProfe{
    width: 40px;
    height: 40px;
    background: url(img/logoDaVinci.png) center no-repeat;
    background-size: contain;
}
.logoUtn{
    width: 40px;
    height: 40px;
    background: url(img/utnfrgp.png) center no-repeat;
    background-size: contain;
}
.d-flex{
    display: flex;
}
.alineacion{
    align-content: center;
}
.borde{
    border: 3px solid #c5bdbd;
}
/* ---------trabajos-------- */
/* .tongaGestion{
    width: 300px;
    min-height: 350px;
    background: url(img/detalleweb.png) center center no-repeat;
    background-size: cover;
}
.tecnologiasInf{
    width: 300px;
    min-height: 350px;
    background: url(https://github.com/caeli1010/tp-wimform-Arevalos-Ayala/raw/main/img/Modificar.JPG) center center no-repeat;
    background-size: cover;
} */
.justificarText{
    text-align: justify;
    text-justify: inter-word;
}
.fuenteP{
    margin: 5px;
    font-size: 15px;
    align-content: center;
    /* text-align: center; */
}
.columna{
    padding: 15px ;
    border-radius: 10px;
}
.anchoText{
    width: 370px;
}
/* .tuPlanSalud{
    width: 300px;
    height: 300px;
    background: url(img/tuPlanSalud.png) center center no-repeat;
    background-size: contain;
} */

/* ------footer----- */
.diseño{
    background-color: black;
}
.fuenteFooter{
    color: white;
}
.trabajos{
    width: 370px;
    min-height: 450px;
    /* background-size: cover; */
}

/* .nav-link a{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
} */